<header class="header">
    <nav class="nav">
        <ul>
            <li>
                <a href="/">Home</a></li>
            <li>
                <a href="/readings">All Readings</a>
            </li>
            <li>
                <a href="/readings/new">Add new</a>
            </li>
            <li>
                <a href="/charts">Charts</a>
            </li>
        </ul>
    </nav>
</header>