<div class="reading">
    <div class="reading__date">
        <span class="reading__icon reading__icon--date material-symbols-outlined">calendar_month</span>
        <span class="reading__val reading__val--date">{{date}}</span>
    </div>
    <div class="reading__sys">
        <span class="reading__icon reading__icon--sys material-symbols-outlined">heart_plus</span>
        <span class="reading__val reading__val--sys"><strong>{{sys}}</strong> mmHg</span>
    </div>
    <div class="reading__dia">
        <span class="reading__icon reading__icon--dia material-symbols-outlined">heart_minus</span>
        <span class="reading__val reading__val--dia"><strong>{{dia}}</strong> mmHg</span>
    </div>
    <div class="reading__bpm">
        <span class="reading__icon reading__icon--bpm material-symbols-outlined">cardiology</span>
        <span class="reading__val reading__val--bpm"><strong>{{bpm}}</strong> bpm</span>
    </div>
</div>