<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CardioCheck</title>
    {{!-- CSS Stylesheets --}}
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="mainWrapper">
        <div class="wrapper"> 
            {{!-- HEADER --}}
            {{>header}}
            {{!-- MAIN CONTENT --}}
            <main class="main">
                {{!-- ERROR --}}
                {{#if error}}
                    {{>error}}
                {{/if}}
                {{{body}}}
            </main>
        </div>
        {{!-- FOOTER --}}
        {{>footer}}
    </div>
    {{!-- JS SCRIPTS --}}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/2.2.1/chartjs-plugin-annotation.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="/js/main.js" defer></script>
</body>
</html>