<div class="error">
    <h1 class="error__status">{{errorStatus}}</h1>
    <p class="error__message">{{errorMessage}}</p>
    <p class="error_text"> Let's get you back to where you were: <a href="/" class="goBack">Click to go back</a></p>
</div>
