@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bg-color: #e2e7f1;
    --black: #000;
    --border-radius: 5px;
    --btn-bg: #2a2a2a;
    --default-transition: all .2s ease-in;
    --font-color: #303132;
    --danger: rgb(223, 39, 30);
    --warning: rgb(255, 166, 0);
    --good: rgb(68, 128, 0);
    --low: #1d65eb;
    --slot-bg-color: #f8fafd;
    --slot-icon-sys-bg-color: #f9d4d4;
    --slot-icon-dia-bg-color: #d2ffeb;
    --slot-icon-bpm-bg-color: #d5eeff;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
}

a, .u-link {
    color: var(--font-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn {
    border: 2px solid var(--black);
    border-radius: var(--border-radius);
    color: var(--black);
    cursor: pointer;
    font-size: 1.1rem;
    line-height: 1;
    padding: .75rem 1.5rem;
    transition: var(--default-transition);

    &:hover {
        background-color: var(--black);
        color: var(--white);
    }
}

.btn--main {
    background-color: var(--btn-bg);
    color: var(--white);
}

body {
    background-color: var(--bg-color);
    display: flex;
    color: var(--font-color);
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    min-height: 100dvh;
    overflow-x: hidden;
    padding: 3rem;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-block-end: 3rem;
    min-height: 50vh;
}

.header {
    align-items: center;
    border-block-end: 1px solid var(--black);
    display: flex;
    justify-content: space-between;
    padding-block-end: 1.5rem;
}

.logo {
    font-size: 2.7rem;
}

.nav {
    display: none;
    font-size: 1.2rem;
    margin-inline: auto 3rem;
}

.nav__list {
    display: flex;
    gap: 1.5rem;
}

.nav__item {
    cursor: pointer;
    position: relative;

    &.current::before {
        background-color: var(--font-color);
        content: '';
        height: 4px;
        inset-block-end: -8px;
        position: absolute;
        width: 100%;
    }
}

.nav__item.current a {
    font-weight: 700;
}

.mobileNav {
    position: relative;
}

.mobileNav__toggle {
    cursor: pointer;
    user-select: none;
}

.mobileNav__list {
    background-color: var(--bg-color);
    inset-inline-end: 0;
    padding: .75rem;
    position: absolute;
}

.main {
    flex-grow: 1;
    flex-shrink: 0;
    margin-block-start: 4.5rem;
    position: relative;
}

.dashboard {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
    margin-block-end: 3rem;

    .slot {
        align-items: center;
        display: flex;
        flex-grow: 1;
        gap: .75rem;
        justify-content: space-between;
    }
}

.section {
    margin-block-end: 6rem;
}

.section__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-block-end: 1.5rem;
}

.section__title {
    font-size: 1.5rem;
}

.slot,
.reading {
    background-color: var(--white);
    border-radius: var(--border-radius);
    padding: 1.5rem;
}

.slot__icon {
    border-radius: 6px;
    font-size: 2.4rem;
    padding: .75rem;
}

.slot__icon--date,
.reading__icon--date {
    background-color: var(--bg-color);
}

.slot__icon--sys,
.reading__icon--sys {
    background-color: var(--slot-icon-sys-bg-color);
}

.slot__icon--dia,
.reading__icon--dia {
    background-color: var(--slot-icon-dia-bg-color);
}

.slot__icon--bpm,
.reading__icon--bpm  {
    background-color: var(--slot-icon-bpm-bg-color);
}

.slot__title {
    margin-inline-end: auto;

    p {
        font-size: 13px;
        opacity: .65;
    }
}

.slot__value {
    color: var(--black);
    font-size: 2.3rem;
    font-weight: 700;
}

.reading {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-block-end: .75rem;
}

.reading__date, 
.reading__sys, 
.reading__dia, 
.reading__bpm {
    align-items: center;
    display: flex;
    flex-grow: 1;
    font-size: 1.1rem;
    gap: .75rem;
    position: relative;
}

.reading__date {
    width: 100%;
}

.reading__sys, 
.reading__dia, 
.reading__bpm {
    width: calc(33% - 1.5rem);
}

.reading__icon {
    border-radius: 5px;
    font-size: 2rem;
    padding: .75rem;
}

.reading__val strong {
    font-size: 1.3rem;
    font-weight: 700;
}

.form--addNew {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;

    .slot {
        flex-grow: 1;
    }
}

.form__actions {
    align-items: center;
    display: flex;
    gap: .75rem;
    width: 100%;
}

.footer {
    text-align: center;
}

.form__field {
    margin-block-end: 1.5rem;
    width: 100%;
}

.form__label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-block-end: .75rem;
}

.form__input {
    border: 2px solid var(--black);
    border-radius: var(--border-radius);
    font-size: 1rem;
    padding: 1.5rem;
    width: 100%;
}

.seeAll {
    display: inline-block;
    margin-block-start: 1.5rem;
}

.chart__actions {
    display: flex;
    gap: .75rem;
    justify-content: flex-end;
    margin-block-end: 3rem;
}

.error {
    display: grid;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    place-items: center;
    position: absolute;
    translate: -50% -50%;
}

.error__status {
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.3;
}

.error__message {
    font-size: 1.8rem;
    margin-block-end: 6rem;
}

.errorMsg {
    background-color: var(--slot-icon-sys-bg-color);
    border-radius: var(--border-radius);
    inset-block-start: -3rem;
    padding: .375rem .75rem;
    position: absolute;
}

.isHidden {
    display: none;
}


@media all and (min-width: 800px) {
    .form--addNew {
        flex-direction: row;
    }

    .form__field {
        width: calc(50% - 1.5rem);
    }

    .nav {
        display: block;
    }

    .mobileNav {
        display: none;
    }
}


@media all and (min-width: 960px) {
    .dashboard {
        flex-direction: row;;
    }

    .reading {
        gap: 3rem;
    }

    .reading__date,
    .reading__sys,
    .reading__dia,
    .reading__bpm {
        width: auto;
    }

    .form__field {
        width: calc(33% - 3rem);
    }
}

@media all and (min-width: 1200px) {

    .form__field {
        width: auto;
    }
}