<section class="section">
    <div class="section__header">
        <h2 class="section__title">{{title}}</h2>
    </div>
    {{#if readings}}
        <div class="readings">
            {{#each readings}}
                {{>reading date=(formatDate this.date) sys=this.sys dia=this.dia bpm=this.bpm}}
            {{/each}}
        </div>
    {{else}}
        <p>No readings found.</p>
    {{/if}}
</section>
