<div class="card">
    <h1 class="card__title">{{title}}</h1>

    <form action="/readings" method="POST" class="form form--addNew">
        {{> formField type="number" name="sys" label="Systolic" placeholder="Enter systolic reading" required=true }}
        {{> formField type="number" name="dia" label="Diastolic" placeholder="Enter diastolic reading" required=true }}
        {{> formField type="number" name="bpm" label="Bpm" placeholder="Enter bpm reading" required=true }}

        <div class="form__actions">
            <a href="/readings">Cancel</a>
            <button type="submit">Create</button>
        </div>
    </form>
</div>